@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.about-box
		min-height: 260px
	.slick-prev.slick-arrow
		left: 0
	.slick-next.slick-arrow
		right: 0
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.initial-demands_block
		margin-top: 0
	.initial-demands_img
		&:before
			width: 200px
			height: 200px

	.bonus-card
		margin-bottom: 50px

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.nav-btn
		display: inline-block
	.main-nav
		display: none
	.main-btn_hidden
		display: block
	.main-header_wrap
		position: fixed
		top: 0
		left: 0
		right: 0
	.main-header_wrap,
	.main-nav,
	.logo
		-webkit-transition: all 0s
		-o-transition: all 0s
		transition: all 0s
	.main-header_wrap.scrolled-header
		background-color: #fff
		box-shadow: 0 1px 5px rgba(0,0,0,.07)
		.logo
			color: #000

	.main-nav ul .main-nav_reg-link
		display: none

	.main-header_wrap.second-header
		display: none
		position: static

	.page-top_title
		text-align: center
		padding-top: 100px
		margin-bottom: 50px
	.page-top
		background-attachment: scroll
	.benefits-block
		margin-bottom: 40px
	h2
		font-size: 36px
		line-height: 38px
	.about-title strong
		font-size: 14px
	.about-box
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-justify-content: space-between
		-moz-justify-content: space-between
		-ms-justify-content: space-between
		-o-justify-content: space-between
		justify-content: space-between
		-webkit-flex-direction: row
		-moz-flex-direction: row
		-ms-flex-direction: row
		-o-flex-direction: row
		flex-direction: row
		-ms-align-items: center
		align-items: center
		min-height: auto
		padding: 35px 10%
		margin-bottom: 20px
		span
			margin-right: 10%
	.about-wrap
		background-attachment: scroll
	.initial-demands_img
		display: none
	.initial-demands_block
		text-align: center
		h2
			text-align: center
		.marked-heading
			display: inline-block


	.become-driver_hold
		border: none
		padding-left: 30px
		&:before
			content: ''
			display: block
			position: absolute
			left: 24px
			top: 0
			width: 2px
			height: 100%
			background-color: $theme-color
	.become-driver_box
		padding-top: 0

	.become-driver
		.heading-group
		text-align: center

	.become-driver_box:before
		position: absolute
		top: 0
		left: -15px
	.card-hold
		margin-bottom: 50px
	.loyalty-hold
		text-align: center
		.marked-heading
			display: inline-block

	.review-slide
		text-align: center
		-webkit-flex-wrap: wrap
		-moz-flex-wrap: wrap
		-ms-flex-wrap: wrap
		-o-flex-wrap: wrap
		flex-wrap: wrap
		-webkit-justify-content: center
		-moz-justify-content: center
		-ms-justify-content: center
		-o-justify-content: center
		justify-content: center
		.review-img
			width: 35%
			margin: 25px 0
		.review-text
			width: 75%
			padding: 0
			margin: 0 auto 50px
	.review-slide_holder.first-slide:after
		left: 0
	.review-slide_holder.last-slide:after
		right: 0
	.car-req
		text-align: center
		h2
			text-align: center
		.marked-heading
			display: inline-block
	.car-req_content
		margin-bottom: 50px
		text-align: left

	.driver-req
		background-attachment: scroll
		background-size: contain
		background-position: 0 0
		padding-top: 52%

	.driver-req_box
		text-align: center
		padding: 15px
		h2
			text-align: center
		.marked-heading
			text-align: left
	.app
		text-align: center
		h2
			text-align: center

	.apps-row
		text-align: center
		a
			display: inline-block
			width: 25%
			margin: 0 15px
			img
				width: 100%
				height: auto
	.footer-nav
		display: none

	.social-row
		width: 30%
		margin: 0 auto
	.main-footer
		padding: 50px 0
	.slick-arrow
		top: 17%
	.first-link
		border-top: 1px solid #e5e5e5
	.main-nav
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.07)
		.btn-consult
			display: inline-block
			margin-left: 15px


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.apps-row
		a
			display: block
			width: 40%
			margin: 0 auto 20px
			img
				width: 100%
				height: auto
	.review-slide
		.review-img
			width: 50%
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

